<div class="header-wrapper">
  <div>
    <a href="/">
      <img class="nav-logo" src="{{ 'logo.jpg' | asset_url }}" alt="" height="45" width="45" loading="lazy">
    </a>
  </div>
  <div class="header-middle-nav-list-wrapper">
    <ul class="header-middle-nav-list">
      {% for link in linklists["main-menu"].links %}
        <li>{{ link.title |  link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="header-right-items">
    <button id="header-mobile-menu-btn">
      {%  render 'menu-icon' %}
    </button>
    <form action="/search">
      <input type="search" placeholder="search products" name="q" class="search-nav-input" type="search">
    </form>
      <a href="/cart">
        {% render 'shopping-bag-icon' %}
      </a>
  </div>
</div>
