<div class="product-left-view">
  {% if product.featured_image %}
    <div class="product-image-container">
      <img id="main-product-image" src="{{ product.featured_image | image_url }}" width="100%" height="100%">
    </div>
    <ul class="product-image-thumbnail-list">
      {% for thumbnail in product.images %}
        <li class="thumbnail-item {% if thumbnail == product.featured_image %}active{% endif %}">
          <img src="{{ thumbnail.src | image_url }}" alt="" height="100%" width="100%">
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
