<div class="not-found-wrapper">
  <header class="not-found-title">
    <h1 class="section-header__title">Opps! page does not exist.</h1>
  </header>
  <div class="go-to-home">
    <a href="/">go to home page</a>
  </div>
</div>

<style>
  .not-found-wrapper {
    display: grid;
    height: 50vh;
    place-content: center;
  }
  .go-to-home {
    text-align: center;
  }
</style>
